# Installation

Go to terminal, type in "pip install NRCLex"

# Library

In [2]:
from nrclex import NRCLex

import numpy as np
import pandas as pd

# Detect emotions: sentence

In [3]:
# Assign emotion
text = 'your website is horrible'
  
# Create object
emotion = NRCLex(text)
  
# Using methods to classify emotion
print('\n', emotion.words)
print('\n', emotion.affect_dict)

 ['your', 'website', 'is', 'horrible']

 {'horrible': ['anger', 'disgust', 'fear', 'negative']}

# Let's look at a longer example

In [4]:
text = 'I am humbled and honored to be surrounded by colleagues who challenge,'\
        'support and encourage me at each stage.'\
        'Through them, I’ve learned work isn’t just'\
        'about the tasks we set out to do, but the experiences,'\
        'growth and friendships we build along the way.'

emotion = NRCLex(text)
print('\n', emotion.affect_dict)
print('\n', emotion.raw_emotion_scores)

 {'humbled': ['positive', 'sadness'], 'challenge': ['anger', 'fear', 'negative'], 'encourage': ['joy', 'positive', 'trust'], 'growth': ['positive'], 'build': ['positive']}

 {'positive': 4, 'sadness': 1, 'anger': 1, 'fear': 1, 'negative': 1, 'joy': 1, 'trust': 1}

In [5]:
text = 'your website is very good'
emotion = NRCLex(text)
print('\n', emotion.affect_dict)
print('\n', emotion.raw_emotion_scores)

 {'good': ['anticipation', 'joy', 'positive', 'surprise', 'trust']}

 {'anticipation': 1, 'joy': 1, 'positive': 1, 'surprise': 1, 'trust': 1}

# "Top emotions" returns the dominant emotion

In [6]:
print('\n', emotion.top_emotions)

 [('trust', 0.2), ('surprise', 0.2), ('positive', 0.2), ('joy', 0.2), ('anticipation', 0.2)]

# "Affect frequencies" standardizes "Raw emotion scores"

Assuming each sentence can only have a total score of 1, this is going to tell us which emotion weighs more and which emotions weigh less?

In [7]:
print('\n', emotion.affect_frequencies)

 {'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 'trust': 0.2, 'surprise': 0.2, 'positive': 0.2, 'negative': 0.0, 'sadness': 0.0, 'disgust': 0.0, 'joy': 0.2, 'anticipation': 0.2}

# Detect emotions: dataframe

In [8]:
df = pd.read_csv('test.csv')
df.head()

   id                                   text
0   1      your website is very easy to use!
1   2               your website is not good
2   3                    is this refundable?
3   4              someone needs to be fired
4   5  way too big for3.4, & 5 year old kids

## Make sure you process the data: lemmatization etc (not shown here)

In [9]:
df['emotions'] = df['text'].apply(lambda x: NRCLex(x).affect_frequencies)
df.head()

,id,text,emotions
0,1,your website is very easy to use!,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
1,2,your website is not good,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
2,3,is this refundable?,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
3,4,someone needs to be fired,"{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."
4,5,"way too big for3.4, & 5 year old kids","{'fear': 0.0, 'anger': 0.0, 'anticip': 0.0, 't..."

In [10]:
df = pd.concat([df.drop(['emotions'], axis = 1), df['emotions'].apply(pd.Series)], axis = 1)
df.head()

,id,text,fear,anger,anticip,trust,surprise,positive,negative,sadness,disgust,joy,anticipation
0,1,your website is very easy to use!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2,your website is not good,0.0,0.0,0.0,0.2,0.2,0.2,0.0,0.0,0.0,0.2,0.2
2,3,is this refundable?,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,4,someone needs to be fired,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,5,"way too big for3.4, & 5 year old kids",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [37]:
df1 = df.drop('id', 1)
df1 = df1.drop('text', 1)
df1 = df1.drop('anticip', 1)

In [38]:
df1

,fear,anger,trust,surprise,positive,negative,sadness,disgust,joy,anticipation
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,0.0,0.0,0.2,0.2,0.2,0.0,0.0,0.0,0.2,0.2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [39]:
df1 = df1.fillna(0)

In [40]:
df1

,fear,anger,trust,surprise,positive,negative,sadness,disgust,joy,anticipation
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.2,0.2,0.2,0.0,0.0,0.0,0.2,0.2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
df2 = df1.sum(axis = 0, skipna = True)

In [45]:
df2

fear            0.0
anger           0.0
trust           0.2
surprise        0.2
positive        0.2
negative        0.0
sadness         0.0
disgust         0.0
joy             0.2
anticipation    0.2
dtype: float64

In [48]:
df3 = df2.nlargest(3)

In [49]:
df3

trust       0.2
surprise    0.2
positive    0.2
dtype: float64